/* body{
    background-image: url('https://img.freepik.com/premium-photo/modern-residential-buildings-sunset-with-lush-surroundings_1365110-2379.jpg?ga=GA1.1.1656260117.1742485094&semt=ais_items_boosted&w=740');
    background-position: center;
    background-size: cover;
} */
body{
  background-color:rgb(242, 242, 204);
}